</main>
<footer class="footer-bs">
    <nav class="navbar fixed-bottom navbar-primary bg-dark text-white justify-content-center">
         <ul class="inline navbar-nav">
            <li class="nav-item active footer-copyright text-center py-3 row">Copyright &copy; All Rights Reserved</li>
            <li class="nav-item active row text-center"><%= new Date().getFullYear() %> Journal</li>
        </ul>
    </nav>
</footer>
</body>
</html>